/* CSS Document */
*, *::after, *::before {
box-sizing:border-box;
padding: 0;
margin: 0;
border: 0;
outline: 0;
}



/*////////////////////////////////////////////////// ALGEMEEN /////////////////////////////////////////////////////////*/

body {
	background-color: black;
	color: white;
}

p {
	font-family: 'Karla', sans-serif;
}

a:hover {
	color: #ff928a;
}

a:active {
	color: #ff5642;
}

main p {
	font-size: 0.96em;
	font-size: clamp(0.96em, 3vw, 1.58em);
	line-height: 1.6;
}

main p span {
	padding-top: 1em;
	display: block;
	text-decoration: underline;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 3.25em;
	font-size: clamp(3.25em, 12vw, 7em);
	line-height: 1.03;
}

/*/// ALLE FOTO'S AFMETING ///*/
img {
	width: 100%;
}

main img {
	padding: 12% 0 6% 0;
}

/*/// FOTO ANIMATIE ///*/
main > a > article > img {
	animation-name: fotoani;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    opacity: 0;
}

@keyframes fotoani {
	0% {
		opacity: 0;
		transform: translateY(12%);
	}
	25%{
		opacity: 1;
		transform: translateY(0);
	}
	100%{
		opacity: 1;
		transform: translateY(12);
	}
}

/*//////////////////////////// HOMEPAGINA /////////////////////////////*/

/*// GROOTTE & KLEUR ARTICLES //*/
main > a > article {
	background-color: #F7F3F3;
	color: #ff5642;
	padding: 20% 3%;
}

main > a > article > header > p {
	padding-bottom: 5%;
}

/*/// VERWIJDEREN UNDERLINE ////*/
main > a {
	text-decoration: none;
}

/*//////////////////////////// ARCHITECTURE PAGINA /////////////////////////////*/

/*// GROOTTE & KLEUR ARTICLE //*/
main.page2 > article {
	padding: 20% 3%;
}

main.page2 > article > header > p {
	padding-bottom: 5%;
}





/*/////////////////////////////////////////////// EERSTE HEADER ////////////////////////////////////////////////////////*/

/*//////////////////////////// EERSTE NAV /////////////////////////////*/

/*/// PLAATSING NAV BOVEN & MIDDEN ///*/
nav:first-of-type {
	position: fixed;
	z-index: 15;
	margin-top: 0.35em;
	top: 0.47em;
	left: calc(50% - 8.5em);
}

/*/// PLAATSING LINKS NAAST ELKAAR IN DE NAV ///*/
nav:first-of-type ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 17em;
}

/*/// VERWIJDEREN BULLETS ///*/
nav:first-of-type ul li {
	list-style-type: none;
}

/*/// FACEBOOK & INSTAGRAM ICONS ///*/
nav:first-of-type > ul > li > a > img {
	display: inline;
	width: 1.3em;
	box-shadow: 0.5px 0.5px 3px #000000;
}

/*/// STYLING VAN DE LINKS ///*/
nav:first-of-type ul li a {
	text-decoration: none;
	font-family: 'Playfair Display', serif;
	color: white;
	font-size: 0.98em;
	font-size: clamp(0.98em, 3.6vw, 2.2em);
	line-height: 25px;
	text-shadow: 0.5px 0.5px 3px #000000;
}

/*/// LOGO PLAATSING ///*/
body > header:first-of-type > a > img {
	position: fixed;
	z-index: 2;
	width: 2.2em;
	margin-left: 0.65em;
	margin-top: 0.4em;
}

/*/////////////////////// TWEEDE NAV (HAMBURGER MENU) //////////////////////////*/

/*/// PLAATSING MENU RECHTSBOVEN ///*/
nav:nth-of-type(2) {
	padding: 6.5% 6.5% 6.5% 5.2%;
	position: fixed;
	right: 0;
	background-color: white;
	width: 80%;
	height: 100vh;
	z-index: 10;
	box-shadow: -12px 0 15px rgba(0, 0, 0, 0.09);
	transform: translateX(100%);
	transition: 0.4s;
	transition-timing-function: ease-in-out;
}

/*/// IN EN UITKLAPPEN MENU ///*/
.active nav:nth-of-type(2) {
	transform: translateX(0);
}

/*/// VERWIJDEREN BULLETS & AFSTAND LINKS ///*/
nav:nth-of-type(2) ul li {
	list-style-type: none;
	padding: 2.6% 0 2.6% 0;
}

/*/// 'HOMEPAGE' PLAATSING ///*/
nav:nth-of-type(2) ul li:first-of-type {
	padding: 0 0 8.5% 0;
}

/*/// 'HOMEPAGE' STYLING ///*/
nav:nth-of-type(2) ul li:first-of-type a {
	color: black;
}

/*/// STYLING VAN DE LINKS ///*/
nav:nth-of-type(2) ul li a {
	font-size: 1.25em;
	font-size: clamp(1.25em, 3.6vw, 1.5em);
	color: #ff5642;
	color: black;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: -0.07em;
}

nav:nth-of-type(2) ul li a:hover {
	color: #ff928a;
}	

/*/// BUTTON ///*/
header:first-of-type button {
	position: fixed;
	right: 2.8%;
	top: -0.7%;
	z-index: 11;
	color: #ff5642;
	font-family: 'Karla', sans-serif;
	background-color: rgba(0, 0, 0, 0);
	font-size: 3.5em;
	font-size: clamp(3.5em, 8vw, 7em);
}




/*////////////////////////////////// FOTO'S /////////////////////////////////*/

/*/// PLAATSING FOTO'S ONDER NAV ///*/
header:first-of-type > section:first-of-type {
	position: relative;
	height: 90vh;
}

header:first-of-type > section:first-of-type > img {
	position: absolute;
	width: 80%;
    transform: translate(-50%, -50%);
    top: 50.5%;
    left: 50%;
}

/*/// SLIDESHOW FOTO'S ANIMATIE ///*/
header:first-of-type > section:first-of-type > img:nth-of-type(2), img:nth-of-type(3), img:nth-of-type(4), img:nth-of-type(5), img:nth-of-type(6) {
    animation-name: slideshow;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    opacity: 0;
}

@keyframes slideshow {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

header:first-of-type > section:first-of-type > img:nth-of-type(2) {
    animation-delay: 0.5s;
}

header:first-of-type > section:first-of-type > img:nth-of-type(3) {
    animation-delay: 1s;
}

header:first-of-type > section:first-of-type > img:nth-of-type(4) {
    animation-delay: 1.5s;
}

header:first-of-type > section:first-of-type > img:nth-of-type(5) {
    animation-delay: 2s;
}

header:first-of-type > section:first-of-type > img:nth-of-type(6) {
    animation-delay: 2.5s;
}

/*/// H1 TEKST ///*/
header:first-of-type > section:first-of-type > h1 {
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 3.9em;
	font-size: clamp(3.9em, 17.5vw, 9em);
	color: #ffdf00;
	top: 46%;
	width: 100%;
	padding-right: 3%;
	line-height: 82px;
	text-align: right;
	text-shadow: 0.5px 0 1px #000000;
	z-index: 5;
}

/*/// SPAN IN H1 ///*/
header:first-of-type > section:first-of-type > h1 > span {
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	font-size: 1.3em;
	letter-spacing: -4px;
	margin-right: 19%;
}




/*//////////////////////////////////////////////// MAIN > ASIDES /////////////////////////////////////////////////////*/

/*// GROOTTE VAN ASIDES //*/
main > aside {
	position: relative;
	height: 102vh;
}

/*// PLAATSING FOTO'S ASIDES //*/
main > aside > img {
	position: absolute;
	width: 80%;
	transform: translate(-50%, -50%);
	top: 45%;
	left: 50%;
}

/*//////////////////////////// EERSTE ASIDE /////////////////////////////*/

/*// TEKST EERSTE ASIDE //*/
main > aside:first-of-type > p {
	position: absolute;
	font-size: 3.2em;
	font-size: clamp(3.2em, 11vw, 6.5em);
	letter-spacing: -2px;
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	color: #ffdf00;
	width: 100%;
	text-align: center;
	top: 35%;
	text-shadow: 0.5px 0 1px #000000;
}

/*// DE LINKS IN TEKST EERSTE ASIDE  //*/
main > aside:first-of-type > p > a {
	display: block;
	text-decoration: none;
	font-size: 0.4em;
	font-size: clamp(0.4em, 11vw, 1.3em);
	letter-spacing: 0.5px;
	color: white;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	padding-top: 10%;
	text-align: left;
	padding-left: 3%;
}

/*// ANDERE OPMAAK SPAN 'FACEBOOK' //*/
main > aside:first-of-type > p > a:nth-of-type(2) {
	font-style: italic;
	letter-spacing: -1px;
	padding-top: 4%;
	text-align: right;
	padding-right: 3%;
}

/*// STATES VAN DE LINKS //*/
main > aside:first-of-type > p > a:hover {
	color: #ff928a;
}

main > aside:first-of-type > p > a:active {
	color: #ef4033;
}

/*//////////////////////////// TWEEDE ASIDE /////////////////////////////*/

/*// TEKST TWEEDE ASIDE //*/
main > aside:nth-of-type(2) > p {
	position: absolute;
	font-size: 3.14em;
	font-size: clamp(3.14em, 8vw, 6em);
	letter-spacing: -2px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #ffdf00;
	width: 100%;
	text-align: center;
	top: 27%;
	top: clamp(27%, 19vw, 80%);
	line-height: 0.88;
	text-shadow: 0.5px 0 1px #000000;
}

/*// ANDERE OPMAAK LINK 'AREA GUIDE' //*/
main > aside:nth-of-type(2) > p > a {
	text-decoration: none;
	display: block;
	color: white;
	font-family: 'Playfair Display', serif;
	font-size: 2.06em;
	font-size: clamp(2.06em, 10vw, 2.28em);
	padding-bottom: 31%;
}

/*// STATES VAN DE LINKS //*/
main > aside:nth-of-type(2) > p > a:hover {
	color: #ff928a;
}

main > aside:nth-of-type(2) > p > a:active {
	color: #ef4033;
}




/*///////////////////////////////////////////////// FOOTER ///////////////////////////////////////////////////////////*/

/*// FLEX CONTAINER //*/
footer {
	background-color: #F7F3F3;
	display: flex;
	flex-wrap: wrap;
}

/*// FLEX ITEMS //*/
footer > p {
	padding: 0 0 4% 3%;
	color: black;
	width: 100%;
	font-size: clamp(0.96em, 4vw, 1.58em);
}

footer > section {
	width: 50%;
	padding-left: 3%;
}

/*// RECHTER ARTIKELS 3% VAN DE KANT //*/
footer > section:nth-of-type(2), section:nth-of-type(4) {
	padding-right: 3%;
}

/*// VERTICALE AFSTAND ARTIKELEN //*/
footer > section:nth-of-type(3), section:nth-of-type(4) {
	padding-top: 7%;
	padding-bottom: 15%;
}

/*// ARTIKEL TITELS //*/
footer > section > a {
	text-decoration: none;
	color: #ff5642;
	font-family: 'Playfair Display', serif;
	font-size: 1em;
	font-size: clamp(1.1em, 2.5vw, 1.9em);
}

/*// STATES VAN DE LINKS //*/
footer > section > a:active {
	color: #ef4033;
}

/*// AFSTAND ARTIKEL EN TITELS //*/
footer > section > img {
	padding-bottom: 2%;
}






/*///////////////////////////////////////////////// 'ARCHITECTURE' PAGINA ///////////////////////////////////////////////////////////*/

main.page2 {
	background-color: #e5dbdb;
}

.footer2 {
	background-color: #e5dbdb;
}

/*// TEKST ZWART //*/
main.page2 {
	color: black;
}

/*// PLAATSING TEKST LAGER //*/
main.page2 > article {
	color: black;
	padding-top: 40%;
	padding-bottom: 2%;
}

main.page2 > article > header > h2 {
	padding-bottom: 10%;
}

/*// GROTE PIJL //*/
main.page2 > section > p:first-of-type {
	font-size: 4em;
	padding-left: 7%;
	padding-top: 0;
}

/*// PLAATSING LINKS //*/
main.page2 > section {
	padding: 0 3% 11%;
}

/*// STYLING H3 //*/
main.page2 > section > h3 {
	padding: 3% 0 5% 0;
	font-style: italic;
	font-size: 1.3em;
	font-size: clamp(1.3em, 3vw, 2.5em);
}

/*// STYLING LINKS //*/
main.page2 > section > p:nth-of-type(2) > a {
	text-decoration: none;
	color: black;
	font-size: 1.2em;
	font-size: clamp(1.2em, 3vw, 1.55em);
	color: #ff5642;
}

/*// STATES VAN DE LINKS //*/
main.page2 > section > p:nth-of-type(2) > a:hover {
	color: #ff928a;
}

main.page2 > section > p:nth-of-type(2) > a:active {
	color: #ef4033;
}

/*// RECHTER ARTIKELS 3% VAN DE KANT //*/
footer > section:nth-of-type(6) {
	padding-right: 3%;
}

/*// VERTICALE AFSTAND ARTIKELEN //*/
.footer2 > section:nth-of-type(5), section:nth-of-type(6) {
	padding-top: 7%;
	padding-bottom: 15%;
}

/*/// AFSTAND FOOTER PAGINA 1 VERWIJDEREN ///*/
.footer2 > section:nth-of-type(3), section:nth-of-type(4) {
	padding-bottom: 0;
}





/*//////////////////////////////////////////////// MEDIAQUERIES /////////////////////////////////////////////////////*/

@media (min-width: 350px) {
	/* Navigatie plaatsing */
	nav:first-of-type {
		left: calc(50% - 9em);
	}
	/* Navigatie breedte */
	nav:first-of-type ul {
		width: 18em;
	}
	/* H1 tekst */
	header:first-of-type > section:first-of-type > h1 {
		line-height: 100px;
		top: 46%;
	}
}


@media (min-width: 500px) {
	/* Logo */
	body > header:first-of-type > a > img {
		width: 3.3em;
	}
	/* Navigatie plaatsing */
	nav:first-of-type {
		top: 1.1%;
		left: calc(50% - 11em);
	}
	/* Navigatie breedte */
	nav:first-of-type ul {
		width: 22em;
	}
	/* Line height links */
	nav:first-of-type ul li a {
	    line-height: 41px;
    }
	/* Breedte hamburger menu */
	nav:nth-of-type(2) {
		padding: 5% 5% 5% 4%;
	}
	/* H1 tekst */
	header:first-of-type > section:first-of-type > h1 {
		line-height: 120px;
	}
	/* Span in H1 tekst */
	header:first-of-type > section:first-of-type > h1 > span {
		display: block;
	}
	/* Tweede aside 'explore Tokyo's minder laag */
	main > aside:nth-of-type(2) > p > a {
	    padding-bottom: 20%;
    }
    /* Minder grote blokken van de articles */
    main > a > article {
	padding: 16.5% 3%;
    }
    /* Minder grote blokken van asides */
    main > aside {
	height: 101vh;
    }
}


@media (min-width: 650px) {
	/* Logo */
	body > header:first-of-type > a > img {
		width: 4.4em;
	}
	/* Navigatie plaatsing */
	nav:first-of-type {
		top: 2.4%;
		left: calc(50% - 15em);
	}
	/* Navigatie breedte */
	nav:first-of-type ul {
		width: 30em;
	}
	/* Line height links */
	nav:first-of-type ul li a {
	    line-height: 46px;
    }
	/* Breedte hamburger menu */
	nav:nth-of-type(2) {
		width: 75%;
		padding: 4.4% 4.4% 4.4% 3.5%;
	}
	/* H1 tekst */
	header:first-of-type > section:first-of-type > h1 {
		line-height: 140px;
	}
	/* Tweede aside 'explore Tokyo's minder laag */
	main > aside:nth-of-type(2) > p > a {
	    padding-bottom: 15%;
    }
    /* Grote pijl pagina 2 */
    main.page2 > section > p:first-of-type {
	font-size: 5em;
    }
    /* Hogere plaatsing tekst pagina 2 */
    main.page2 > article {
	padding-top: 39%;
    }
    /* Minder grote blokken van de articles */
    main > a > article {
	padding: 15.5% 3%;
    }
    /* Minder grote blokken van asides */
    main > aside {
	height: 100vh;
    }
}


@media (min-width: 800px) {
	/* Logo */
	body > header:first-of-type > a > img {
		width: 5.5em;
		margin-left: 1em;
	    margin-top: 0.7em;
	}
	/* Navigatie plaatsing */
	nav:first-of-type {
		top: 3.8%;
		left: calc(50% - 17em);
	}
	/* Navigatie breedte */
	nav:first-of-type ul {
		width: 34em;
	}
	/* Line height links */
	nav:first-of-type ul li a {
	    line-height: 51px;
    }
	/* Breedte hamburger menu */
	nav:nth-of-type(2) {
		width: 65%;
		padding: 3.8% 3.8% 3.8% 3.04%;
	}
	/* H1 tekst */
	header:first-of-type > section:first-of-type > h1 {
		right: 3%;
	}
	/* Tweede aside 'explore Tokyo's minder laag */
	main > aside:nth-of-type(2) > p > a {
	    padding-bottom: 10%;
    }
    /* Grote pijl pagina 2 */
    main.page2 > section > p:first-of-type {
	font-size: 6em;
    }
    /* Hogere plaatsing tekst pagina 2 */
    main.page2 > article {
	padding-top: 37%;
    }
    /* Minder grote blokken van de articles */
    main > a > article {
	padding: 15% 3%;
    }
    /* Minder grote blokken van asides */
    main > aside {
	height: 99vh;
    }
}


@media (min-width: 820px) {
	/* Flex container */
	main article {
		display: flex;
	    flex-wrap: wrap;
	    justify-content: flex-end;
	}
	/* Plaatsing artikel links pagina 2 */
	main.page2 article {
		display: block;
	}
	/* Tweede artikel links plaatsing */
	main > a:nth-of-type(2) > article {
		justify-content: flex-start;
	}
	/* Breedte header in articles */
	main article header {
		width: 100%;
		padding-bottom: 3%;
	}
	/* Afstand header en foto in article */
	main article img {
		padding: 0;
	}
	/* Breedte en afstand article tekst */
	main article p {
		width: 55%;
		padding-top: 6%;
	}
	/* Andere breedte en afstand article pagina 2 */
	main.page2 article p {
		width: 100%;
		padding-top: 0;
	}
	/* Niet de tekst boven titel padding */
	main article header p:first-of-type {
		padding: 0 0 5% 0;
	}
}	


@media (min-width: 950px) {
	/* Logo */
	body > header:first-of-type > a > img {
		width: 6.6em;
	}
	/* Navigatie plaatsing */
	nav:first-of-type {
		left: calc(50% - 18.5em);
	}
	/* Navigatie breedte */
	nav:first-of-type ul {
		width: 37em;
	}
	/* Breedte hamburger menu */
	nav:nth-of-type(2) {
		width: 55%;
		padding: 3.2% 3.2% 3.2% 2.56%;
	}
	/* Breedte foto's in articles */
	main article img {
	    width: 940px;
    }
    /* breedte article pagina 2 */
	main.page2 article p {
		width: 80%;
	}
    /* Tweede aside 'explore Tokyo's minder laag */
	main > aside:nth-of-type(2) > p > a {
	    padding-bottom: 5%;
    }
    /* Grote pijl pagina 2 */
    main.page2 > section > p:first-of-type {
	font-size: 7em;
    }
    /* Hogere plaatsing tekst pagina 2 */
    main.page2 > article {
	padding-top: 35%;
    }
    /* Minder grote blokken van de articles */
    main > a > article {
	padding: 14.5% 3%;
    }
    /* Minder grote blokken van asides */
    main > aside {
	height: 98vh;
    }
}


@media (min-width: 995px) {
	/* Slider images & Eerste aside */
	header:first-of-type > section:first-of-type > img, main > aside:first-of-type > img {
		width: 760px;
	}
	/* Tweede aside */	
	main > aside:nth-of-type(2) > img {
		width: 850px;
	}
}


@media (min-width: 1100px) {
	/* Logo */
	body > header:first-of-type > a > img {
		width: 7.7em;
		margin-left: 2.05em;
	    margin-top: 1.35em;
	}
	/* Navigatie plaatsing */
	nav:first-of-type {
		left: calc(50% - 22.5em);
	}
	/* Navigatie breedte */
	nav:first-of-type ul {
		width: 45em;
	}
	/* Line height links */
	nav:first-of-type ul li a {
	    line-height: 55px;
    }
	/* Breedte hamburger menu */
	nav:nth-of-type(2) {
		width: 45%;
		padding: 2.6% 2.6% 2.6% 2.08%;
	}
	/* breedte article pagina 2 */
	main.page2 article p {
		width: 65%;
	}
	/* Geen afstand pijl en header pagina 2 */
	main.page2 article header {
		width: 80%;
	}
	/* Eerste Aside 'Follow Us' */
	main > aside:first-of-type > p {
		top: 37%;
	}
	/* H1 tekst span 'Anew' */
	header:first-of-type > section:first-of-type > h1 > span {
		margin-right: 25%;
	}
	/* Tweede aside 'explore Tokyo's minder laag */
	main > aside:nth-of-type(2) > p > a {
	    padding-bottom: 3%;
    }
    /* Omhoogplaatsen van architecten pagina 2 */
	main.page2 > section > h3 {
	padding: 3% 0 2% 0;
    }
    /* Hogere plaatsing tekst pagina 2 */
    main.page2 > article {
	padding-top: 33%;
    }
    /* Minder grote blokken van de articles */
    main > a > article {
	padding: 14% 3%;
    }
    /* Minder grote blokken van asides */
    main > aside {
	height: 97vh;
    }
}


@media (min-width: 1250px) {
	/* Breedte hamburger menu */
	nav:nth-of-type(2) {
		width: 40%;
		padding: 2% 2% 2% 1.6%;
	}
	/* Logo */
	body > header:first-of-type > a > img {
		width: 8.8em;
		margin-left: 3em;
	    margin-top: 1.9em;
	}
	/* Navigatie plaatsing */
	nav:first-of-type {
		left: calc(50% - 26.25em);
	}
	/* Navigatie breedte */
	nav:first-of-type ul {
		width: 52.5em;
	}
	/* Slider images & Eerste aside */
	header:first-of-type > section:first-of-type > img, main > aside:first-of-type > img {
	    width: 860px;
	}	
	/* Tweede aside */	
	main > aside:nth-of-type(2) > img {
		width: 950px;
	}
	/* H1 tekst */
	header:first-of-type > section:first-of-type > h1 {
		line-height: 255px;
		top: 43%;
	}
	/* H1 tekst span 'Anew' */
	header:first-of-type > section:first-of-type > h1 > span {
		margin-right: 30%;
	}
	/* Eerste Aside 'Follow Us' */
	main > aside:first-of-type > p {
		top: 39%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-left: -3.2%;
	}
	/* Tweede aside 'explore Tokyo's minder laag */
	main > aside:nth-of-type(2) > p > a {
	    padding-bottom: 2%;
    }
    /* Hogere plaatsing tekst pagina 2 */
    main.page2 > article {
	padding-top: 31%;
    }
    /* Minder grote blokken van asides */
    main > aside {
	height: 96vh;
    }
}


@media (min-width: 1400px) {
	/* Breedte hamburger menu */
	nav:nth-of-type(2) {
		width: 35%;
		padding: 1.7% 1.7% 1.7% 1.36%;
	}
	/* Logo */
	body > header:first-of-type > a > img {
		width: 12em;
		margin-left: 3.3em;
	    margin-top: 2.2em;
	}
	/* Navigatie plaatsing */
	nav:first-of-type {
		left: calc(50% - 27.5em);
	}
	/* Navigatie breedte */
	nav:first-of-type ul {
		width: 55em;
	}
	/* Slider images & Eerste aside */
	header:first-of-type > section:first-of-type > img, main > aside:first-of-type > img {
	    width: 960px;
	}	
	/* Tweede aside */	
	main > aside:nth-of-type(2) > img {
		width: 1050px;
	}
	/* H1 tekst span 'Anew' */
	header:first-of-type > section:first-of-type > h1 > span {
		margin-right: 35%;
		margin-top: 0.25%;
	}
	/* Footer foto's maximale breedte */
	/*footer > section {
		width: 680px; 
	}*/
	footer > section {
		min-width: 680px; 
		max-width: 828px;
		padding-right: 0;
		padding-left: 2.2%;
	}
	/* Verwijderen rand rechts */
	/*footer > section:nth-of-type(2), footer > section:nth-of-type(3) {
		padding-right: 0;
	}*/
	footer > section:nth-of-type(3) {
		padding-right: 0;
	}
	/* Rand onderkant website */
	footer > section:nth-of-type(4) {
		padding-bottom: 10%;
	}
	/* Tweede aside 'explore Tokyo's minder laag */
	main > aside:nth-of-type(2) > p > a {
	    padding-bottom: 1%;
    }
    /* Hogere plaatsing tekst pagina 2 */
    main.page2 > article {
	padding-top: 28%;
    }
}


@media (min-width: 1550px) {
	/* Navigatie plaatsing */
	nav:first-of-type {
		left: calc(50% - 30em);
	}
	/* Navigatie breedte */
	nav:first-of-type ul {
		width: 60em;
	}
	/* Breedte hamburger menu */
	nav:nth-of-type(2) {
		width: 32%;
	}
	/* Tweede aside */	
	main > aside:nth-of-type(2) > img {
		width: 1220px;
	}
	/* H1 tekst span 'Anew' */
	header:first-of-type > section:first-of-type > h1 > span {
		margin-right: 40%;
		margin-top: 0.5%;
	}
	/* Hogere plaatsing tekst pagina 2 */
    main.page2 > article {
	padding-top: 25%;
    }
    /* Minder grote blokken van de articles */
    main > a > article {
	padding: 12% 3%;
    }
    /* Minder grote blokken van asides */
    main > aside {
	height: 95vh;
    }
}

@media (min-width: 1620px) {
	/* Plaatsing artikel links pagina 2 */
	main.page2 article {
		display: flex;
	    flex-wrap: wrap;
		justify-content: flex-start;
	}
	/* Minder brede header pagina 2 */
	main.page2 article header {
		width: 42%;
	}
	/* Minder brede article tekst pagina 2 */
	main.page2 article p {
		width: 33%;
	}
	/* Omhoogplaatsen van architecten pagina 2 */
	main.page2 > section > h3 {
	padding: 3% 0 4% 0;
    }
    /* Geen afstand pijl en header pagina 2 */
	main.page2 article header {
		padding-bottom: 0;
	}
	/* Geen afstand pijl en header pagina 2 */
	main.page2 article header h2 {
		padding-bottom: 0;
	}
}

@media (min-width: 1700px) {
	/* Breedte hamburger menu */
	nav:nth-of-type(2) {
		width: 29%;
		padding: 1.4% 1.4% 1.4% 1.12%;
	}
	/* Tweede aside */	
	main > aside:nth-of-type(2) > img {
		width: 1400px;
	}
	/* Plaatsing header in eerste en derde article */
	main > a:first-of-type > article > header, main > a:nth-of-type(3) > article > header {
		padding: 0 0 2% 57%;
	}
	/* Plaatsing header in tweede article */
	main > a:nth-of-type(2) > article > header {
		padding: 0 30% 2% 30%;
	}
	/* Afstand article tekst van de randen */
	main article p {
		width: 39%;
		padding: 0 0 0 2%;
	}
    /* Hogere plaatsing tekst pagina 2 */
    main.page2 > article {
	padding-top: 22%;
    }
    /* Minder grote blokken van de articles */
    main > a > article {
	padding: 10% 3%;
    }
}


@media (min-width: 1850px) {
	/* Navigatie plaatsing */
	nav:first-of-type {
		left: calc(50% - 45em);
	}
	/* Navigatie breedte */
	nav:first-of-type ul {
		width: 90em;
	}
	/* Hogere plaatsing tekst pagina 2 */
    main.page2 > article {
	padding-top: 19%;
    }
    /* Minder grote blokken van de articles */
    main > a > article {
	padding: 8% 3%;
    }
}


@media (min-width: 2040px) {
	/* Breedte hamburger menu */
	nav:nth-of-type(2) {
		width: 20%;
	}
	/* Footer foto's geen ruimte boven 3e en 4e foto */
	footer > section:nth-of-type(3), footer > section:nth-of-type(4) {
		padding-top: 0;
	}
	/* Minder verticale afstand artikelen */
	footer > section:first-of-type, footer > section:nth-of-type(2), footer > section:nth-of-type(3) {
		padding-bottom: 7%;
	}
    /* Verwijderen rand rechts */
	footer > section:nth-of-type(2) {
		padding-right: 0;
	}
	/* Architecture pagina footer */
	.footer2 > section:nth-of-type(4) {
		padding-top: 7%;
	}
	/* Minder verticale afstand artikelen */
	.footer2 > section:first-of-type, footer > section:nth-of-type(2), footer > section:nth-of-type(3) {
		padding-bottom: 2%;
	}
	/* Hogere plaatsing tekst pagina 2 */
    main.page2 > article {
	padding-top: 16%;
    }
    /* Minder grote blokken van de articles */
    main > a > article {
	padding: 6% 3%;
    }
    /* Minder grote blokken van asides */
    main > aside {
	height: 92vh;
    }
}






